#height{
    height: 420px;
}
.about-container{
    margin-top: 60px;
}
#width{
    height: 316px;
    width: 646px;
    margin-top: auto;
    margin-left: -12px;
}
#l1{
    margin-left: 73px;
    color:#5e068a ;
}
#p1{
    padding: auto;
}
h6{
    color: #5e068a;
}

