#height{
    height: 420px;
    margin-top: 10%;
}
.about-container{
    margin-top: 60px;
}
#width{
    height: 86%;
    width: 104%;
    margin-top: auto;
    margin-left: -12px;
}
#l1{
    margin-left: 73px;
    color:#5e068a ;
}
#p1{
    padding: auto;
}
h6{
    color: #5e068a;
}
.c1{
    font-size: medium;
}
#s1{
    margin-top: 10%;
}

.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5e068a;
    color: white;
    padding:0;
    }
.col-3{
    margin-left: 8%;
    display: flex;
    width: 18%;
}

@media(orientation:portrait) {
    .nav1{
        display: list-item;
        align-items: center;
    }
    .f1{
        font-size:large;
    }
   p{
        font-size: small;
    }
    button{
        size: 5%;
    }
    .col-3{
        display:contents;

    }
    #b6{
        font-size: small;
    }
    .modal-dialog{
        font-size: small;
    }
#b5{
    font-size: small;
}
#k1:hover{
    display: none;
}
#b1:hover{
    transform: none;
}
#m2{
    height: 100%;
    width: 20%;
}
#b9{
    font-size: small;
    margin-left: 25%;
}
}
#b1:hover{
box-shadow: 5px 5px 20px gray;
overflow: hidden;
transform: scale(1.1) ;
}
.card{
    width: 20%;
    height: 10%;
}
#m1{
    width: 99%;

}
#b9{
    margin-left: 36%;
    background-color:#5e068a;
    color: white;
border-radius: 0%;

}
#b9:hover{
    background-color: white;
    color: #5e068a;
    border-color: #5e068a;

}